/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

.status-label {
    margin-left: 20px;
}

.text-center {
    text-align: center;
}

.progress-bar-gallery-prod,
.progress-bar-catalogue-prod {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

#collapseThree .alert,
#collapseThree .sync-process,
#collapseThree .progress {
    display: none;
    margin: 5px 0;
}

#collapseThree .progress>div {
    height: 100%;
}

.p_end_at {
    display: none;
}